<p>admin-products works!</p>

<br>
<div style="display: flex;  justify-content: space-evenly ; justify-items: center;">
<button type="button" class="btn btn-info" routerLink="/admin/products/new">New Product</button>


</div>
<br>
<table  datatable [dtOptions]="dtOptions" id="table" class="table table-striped table-hover row-border hover" style="margin:  auto; width: 98%; text-align:center;" *ngIf="products.length" >
	<thead class="table-warning" id="table">
		<tr>
      <th scope="col">id</th>
			<th scope="col">Product</th>
			<th scope="col">Price</th>
			<th scope="col">Edit</th>

		</tr>
	</thead>
  <tbody table-group-divider id="table">
    <tr *ngFor="let product of filtredProducts">
      <td>{{product.id}}</td>
      <td>{{product.title}}</td>
      <td>${{product.price}}</td>
      
      <td>
        <a [routerLink]="['/admin/products/', product.id]" class="btn btn-warning">Edit</a>
       
        
      </td>
    </tr>
  </tbody>

</table>






