/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
/* .nav {
    --bs-nav-link-padding-x: 40px !important; 
   
} */


@media (max-width: 710px) {
    .navbar {
        padding: 10px !important;
        justify-content: center !important;
        justify-self: center !important;
    }

    .drop {
        display: flexbox !important;
       text-align: center !important;
        justify-content: center !important;
        justify-self: center !important;
    }


}
/* 
#carouselExampleInterval {
    overflow: hidden !important;  
    backface-visibility: hidden !important;
}


.carousel-item  {
    overflow: hidden !important;
    backface-visibility: hidden !important;
    float: (100% - 5px) !important;
    max-width:100% !important;
}

.carousel-inner {
    overflow: hidden !important;
    backface-visibility: hidden !important;
}


.carousel slide {
    overflow: hidden !important;
    backface-visibility: hidden !important;
}

.countainer {
    overflow: hidden !important;
    backface-visibility: hidden !important;
}

.top_products {
    overflow: hidden !important;
    backface-visibility: hidden !important;
}

section {
    overflow: hidden !important;
    backface-visibility: hidden !important;
}

_ngcontent-ng-c707581183 {
    overflow: hidden !important;
    backface-visibility: hidden !important;
} */

.dt-search {
    padding: 30px !important;
    margin-right: 30px !important;
}

.dt-length {
    padding: 30px !important;
    margin-left: 30px !important;
}

.dt-paging {
padding: 30px !important;
margin-left: 30px !important;
}

.dt-info {
    padding: 30px !important;
    margin-left: 30px !important;
    }