
<!-- start header -->
<header style="margin-top: 5px;">
  <div class="countainer felxx">
    <div class = "container">
      <h1>Welcome to....</h1>
      <h1>E-SHOP</h1>
    </div>
 
      <div class="header_image" style="display:flex;justify-content: center;align-items: center;">
        <div class="countainer text-center">
          <img src="assets/sales.png" alt="">
   
          <button class="btn btn-dark magic_btnn" routerLink="/shopping-cart">Shop Now !</button>
  </div>
          
      </div>



  </div>

</header>

<!-- end header -->



<section>

<h1 style="text-align: center">FEATURED</h1>
<div class="scroller" #scroller   data-speed="fast">
<div class="tag-list scroller__inner" data-speed="fast">
    <li>Hi-Tech</li>
    <li>SmartPhones</li>
    <li>Laptop</li>
    <li>SmartWatch</li>
    <li>Gadgets</li>
    <li>Drones</li>
    <li>Consoles</li>
    <li>Games</li>
  </div>

<div class="scroller" #scroller   data-speed="slow" data-direction="right">
  <div class="tag-list scroller__inner">
    <li><img src="https://m.media-amazon.com/images/I/61lNb+JO0rL._AC_SL1500_.jpg" style="height: 200px;width: 200px;" />
        <li><img src="https://m.media-amazon.com/images/I/81U7zKn3htL._AC_SL1500_.jpg" style="height: 200px;width: 200px;"alt="" /></li>
        <li><img src="https://m.media-amazon.com/images/I/51WoTvn5LFL._AC_SL1250_.jpg" style="height: 200px;width: 200px;"alt="" /></li>
            <li> <img src="https://m.media-amazon.com/images/I/8174nkaT-HL._AC_SL1500_.jpg"  style="height: 200px;width: 200px;"alt="" /></li>
                <li> <img src="https://m.media-amazon.com/images/I/618PlE1DM8L._AC_SL1500_.jpg"  style="height: 200px;width: 200px;"alt="" /></li>
                    <li> <img src="https://m.media-amazon.com/images/I/61DtvpgVlOL._AC_SL1500_.jpg"  style="height: 200px;width: 200px;"alt="" /></li>
  </div>

</div>
</div>
</section>



<!-- start section (top products) -->
<section class="top_products">

  <div class="countainer" style="max-width: 300px;">

      <h1>Top Products</h1>


      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="max-width: 300px;overflow: hidden;">
        <div class="carousel-inner" style="max-width: 300px;">
          <div class="carousel-item active"  data-bs-interval="3000" style="max-width:280px;overflow:-moz-hidden-unscrollable;">

            <div class="shop_card magic_shaow-sm " style="width:250px;margin: 10px;">
                <div class="product_image">
                    <img src="assets/products/watch.jpg">
                </div>
                <hr>
                <div class="details">
                    <h2>Fossil Watch</h2>
                    <div class="stars">
                        <img src="assets/icons/start-filled.svg" alt="">
                        <img src="assets/icons/start-filled.svg" alt="">
                        <img src="assets/icons/start-filled.svg" alt="">
                        <img src="assets/icons/star-grey.svg" alt="">
                        <img src="assets/icons/star-grey.svg" alt="">
                    </div>
                </div>
                <p class="price"> $100  <span>$200</span></p>
                <div class="btns">
                    <button>
                        <img src="assets/icons/cart-2.svg" alt="">
                        <span> Add To Cart</span>
                        <div class="test">Add To Cart <i class="fa-solid fa-arrow-right-long"></i></div>
                    </button>
                </div>
            </div>

          </div>

          <div class="carousel-item" data-bs-interval="3000">

            <div class="shop_card magic_shaow-sm " style="width:250px;margin: 10px;">
                <div class="product_image">
                    <img src="assets/products/iphone15.png">
                </div>
                <hr>
                <div class="details">
                    <h2>iphone 15</h2>
                    <div class="stars">
                        <img src="assets/icons/start-filled.svg" alt="">
                        <img src="assets/icons/start-filled.svg" alt="">
                        <img src="assets/icons/start-filled.svg" alt="">
                        <img src="assets/icons/star-grey.svg" alt="">
                        <img src="assets/icons/star-grey.svg" alt="">
                    </div>
                </div>
                <p class="price"> $1000  <span>$1500</span></p>
                <div class="btns">
                    <button>
                        <img src="assets/icons/cart-2.svg" alt="">
                        <span> Add To Cart</span>
                        <div class="test">Add To Cart <i class="fa-solid fa-arrow-right-long"></i></div>
                    </button>
                </div>
            </div>

          </div>
   
          <div class="carousel-item" data-bs-interval="3000">

            <div class="shop_card magic_shaow-sm " style="width:250px;margin: 10px;">
                <div class="product_image">
                    <img src="assets/products/visionpro.png">
                </div>
                <hr>
                <div class="details">
                    <h2>Vision Pro</h2>
                    <div class="stars">
                        <img src="assets/icons/start-filled.svg" alt="">
                        <img src="assets/icons/start-filled.svg" alt="">
                        <img src="assets/icons/start-filled.svg" alt="">
                        <img src="assets/icons/star-grey.svg" alt="">
                        <img src="assets/icons/star-grey.svg" alt="">
                    </div>
                </div>
                <p class="price"> $3700  <span>$4000</span></p>
                <div class="btns">
                    <button>
                        <img src="assets/icons/cart-2.svg" alt="">
                        <span> Add To Cart</span>
                        <div class="test">Add To Cart <i class="fa-solid fa-arrow-right-long"></i></div>
                    </button>
                </div>
            </div>

          </div>

   
          <div class="carousel-item" data-bs-interval="3000">

            <div class="shop_card magic_shaow-sm " style="width:250px;margin: 10px;">
                <div class="product_image">
                    <img src="assets/products/shoes1.jpg">
                </div>
                <hr>
                <div class="details">
                    <h2>shoes HRx</h2>
                    <div class="stars">
                        <img src="assets/icons/start-filled.svg" alt="">
                        <img src="assets/icons/start-filled.svg" alt="">
                        <img src="assets/icons/start-filled.svg" alt="">
                        <img src="assets/icons/star-grey.svg" alt="">
                        <img src="assets/icons/star-grey.svg" alt="">
                    </div>
                </div>
                <p class="price"> $400  <span>$500</span></p>
                <div class="btns">
                    <button>
                        <img src="assets/icons/cart-2.svg" alt="">
                        <span> Add To Cart</span>
                        <div class="test">Add To Cart <i class="fa-solid fa-arrow-right-long"></i></div>
                    </button>
                </div>
            </div>

          </div>


          <div class="carousel-item" data-bs-interval="3000">

            <div class="shop_card magic_shaow-sm " style="width:250px;margin: 10px;">
                <div class="product_image">
                    <img src="assets/products/drone.png">
                </div>
                <hr>
                <div class="details">
                    <h2>Phantom drone</h2>
                    <div class="stars">
                        <img src="assets/icons/start-filled.svg" alt="">
                        <img src="assets/icons/start-filled.svg" alt="">
                        <img src="assets/icons/start-filled.svg" alt="">
                        <img src="assets/icons/star-grey.svg" alt="">
                        <img src="assets/icons/star-grey.svg" alt="">
                    </div>
                </div>
                <p class="price"> $3000  <span>$3500</span></p>
                <div class="btns">
                    <button>
                        <img src="assets/icons/cart-2.svg" alt="">
                        <span> Add To Cart</span>
                        <div class="test">Add To Cart <i class="fa-solid fa-arrow-right-long"></i></div>
                    </button>
                </div>
            </div>

          </div>

          
          <div class="carousel-item" data-bs-interval="3000">

            <div class="shop_card magic_shaow-sm " style="width:250px;margin: 10px;">
                <div class="product_image">
                    <img src="assets/products/smartwatch.png">
                </div>
                <hr>
                <div class="details">
                    <h2>Smart Watch</h2>
                    <div class="stars">
                        <img src="assets/icons/start-filled.svg" alt="">
                        <img src="assets/icons/start-filled.svg" alt="">
                        <img src="assets/icons/start-filled.svg" alt="">
                        <img src="assets/icons/star-grey.svg" alt="">
                        <img src="assets/icons/star-grey.svg" alt="">
                    </div>
                </div>
                <p class="price"> $2000  <span>$2500</span></p>
                <div class="btns">
                    <button>
                        <img src="assets/icons/cart-2.svg" alt="">
                        <span> Add To Cart</span>
                        <div class="test">Add To Cart <i class="fa-solid fa-arrow-right-long"></i></div>
                    </button>
                </div>
            </div>

          </div>
          
          <div class="carousel-item" data-bs-interval="3000">

            <div class="shop_card magic_shaow-sm " style="width:250px;margin: 10px;">
                <div class="product_image">
                    <img src="assets/products/adidasbag.png">
                </div>
                <hr>
                <div class="details">
                    <h2>Adidas Bag</h2>
                    <div class="stars">
                        <img src="assets/icons/start-filled.svg" alt="">
                        <img src="assets/icons/start-filled.svg" alt="">
                        <img src="assets/icons/start-filled.svg" alt="">
                        <img src="assets/icons/star-grey.svg" alt="">
                        <img src="assets/icons/star-grey.svg" alt="">
                    </div>
                </div>
                <p class="price"> $200  <span>$300</span></p>
                <div class="btns">
                    <button>
                        <img src="assets/icons/cart-2.svg" alt="">
                        <span> Add To Cart</span>
                        <div class="test">Add To Cart <i class="fa-solid fa-arrow-right-long"></i></div>
                    </button>
                </div>
            </div>

          </div>
          
     
        </div>

      </div>
      

      <button class="slider-btn prev-btn " data-bs-target="#carouselExampleInterval" data-bs-slide="prev" ><img src="assets/icons/pre.svg" alt="" ></button>
      <button class="slider-btn next-btn" data-bs-target="#carouselExampleInterval" data-bs-slide="next" ><img src="assets/icons/next.svg" alt="" ></button>
      <div class="text-center mt-3">
          <a class="btn btn-outline-dark magic_btnn"> View More</a>
      </div>
    </div>

</section>
<!-- end section (top products) -->






<!-- start section (about) -->
<section class="about" id="about" >
    <div class="countainer">
        <h1>About Our Store</h1>
        <div class="about_wrap">
            <div class="left_about">
                <img src="assets/shopp1.png" alt="" style="border-radius: 10px;">
            </div>
            <div class="right_about">
                <h2 style="color: goldenrod;">We bring you everything you want!</h2>
                <p>Welcome to E-STORE. We are dedicated to bringing you the best products and services. Our team works tirelessly to ensure that your shopping experience is seamless and enjoyable. We believe in providing high-quality products at affordable prices. Thank you for choosing E-STORE.</p>
                <div class="text-center mt-3">
                    <a class="btn btn-outline-dark magic_btnn">Read More..</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section (about) -->


<!-- start section (servcies) -->
<section class="servcies " id="services">
    <div class="countainer">
        <h1> Our Services </h1>
        <div class="services_wrap  ">

            <div class="services_card ">
                <img src="assets/icons/transport.svg" alt="">
                <h2>Free Home Delivery</h2>
                <p>Get free delivery on all your orders to your Home</p>
                <button class="btn btn-dark">Learn More</button>
            </div>

            <div class="services_card ">
                <img src="assets/icons/bag.svg" alt="">
                <h2 class="text-primay">30 Days Return </h2>
                <p>Return ...what are you talking about</p>
                <button class="btn btn-primary">Read More</button>
            </div>

            <div class="services_card ">
                <img src="assets/icons/usd.svg" alt="">
                <h2>Mony Back Guranted</h2>
                <p>you will got no money back , absolutly kidding 🤣 </p>
                <button class="btn btn-dark">Read More</button>
            </div>

        </div>
    </div>
</section>
<!-- end section (servcies) -->


<!-- start section (big_deal) -->
<section class="big_deal">
    <div class="countainer">
        <h1 class="text-light">HURRY ...CATCH OUR NEXT DEAL!</h1>
        <div class="timer row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <span>{{days}}</span>
                <span>Days</span>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <span>{{hours}}</span>
                <span>Hours</span>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <span>{{minutes}}</span>
                <span>Mintes</span>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <span>{{secondes}}</span>
                <span>Secondes</span>
            </div>
        </div>
    </div>
</section>
<!-- end section (big_deal) -->


<!-- start section (lattest_new) -->
    <section class="lattest_new" id="blogs">
        <div class="countainer ">
            <h1>TESTMONIAL</h1>
            <div class="blog_wrap row" style="padding-right: 0; padding-left: 0;">
                <div class="blog_card col-lg-4 col-md-6 col-sm-12">
                    <div >
                        <img src="assets/online2.jpg" alt="">
                    </div>
                    <div class="details">
                        <div class="meta">
                            <span>(Feb 15, 2024)</span>
                            <span>(Posted By <strong>Elon Musk</strong>)</span>
                            <span>(12 Commentns)</span>
                        </div>
                        <h2>One of The best Stores i ever see...</h2>
                        <p>Shopping at the e-shop has been a delightful experience. The wide range of high-quality products at affordable prices is truly impressive. </p>
                    </div>
                </div>
                <div class="blog_card col-lg-4 col-md-6 col-sm-12">
                    <div>
                        <img src="assets/online.jpg" alt="">
                    </div>
                    <div class="details">
                        <div class="meta">
                            <span>(Jan 03, 2024)</span>
                            <span>(Posted By <strong>Mark ZukerBurg</strong>)</span>
                            <span>(7 Commentns)</span>
                        </div>
                        <h2>E-shop was a really nice experience ...</h2>
                        <p> The seamless shopping process and the excellent customer service have made me a loyal customer. I highly recommend the e-shop to everyone!</p>
                        
                    </div>
                </div>
            </div>

            <div class="text-center mt-4">
                <a class="btn btn-outline-dark  magic_btnn" > View More</a>
            </div>

        </div>
    </section>
<!-- end section (lattest_new) -->


<!-- start section (subscribe) -->
<section class="subscribe">
    <div class="countainer ">
        <div >
            <img src="assets/newsletter2.png" alt="" style="max-width: 80px;max-height: 80px;" >
        </div>
        <div class="details"> 
            <h2>Subscribe To Our NewsLetter</h2>
            <p>Subscribe to our newsletter to receive the latest updates and promotions.</p>
            <div class="input_group">
                <input type="text" class="form-control" placeholder="Enter Your E-mail" aria-label="Recipient's username" aria-describedby="button-addon2"/>
                <button class="btn btn-outline-secondary" >Subscribe</button>
            </div>
        </div>
    </div>
</section>
<!-- end section (subscribe) -->

<div class="to_top" *ngIf="windowHeight > 100">
   
    <a href="#"> <img src="assets/icons/arrow.svg" alt=""  width="35px" height="35px"  ></a>
</div>

<!-- start section(contact us) -->
<section class="contact_us" id="contact_us">
    <div class="right">
        <h1 style="width: 100%;">Contact US</h1>
        <div class="contact_info">
    
            <div>
                <div>
                    <img src="assets/icons/phone-2.svg" alt="">
                </div>
                <div>
                    <span>Call Us :</span>
                    <span >(+216) 98 756 636</span>
                </div>
            </div>
            <div>
                <div>
                    <img src="assets/icons/email.svg" alt="">
                </div>
                <div>
                    <span>E-mail :</span>
                    <span>arbi.jridi&#64;gmail.com</span>
                </div>
            </div>
            <div>
                <div>
                    <img src="assets/icons/clock-2.svg" alt="">
                </div>
                <div>
                    <span>Working Hours :</span>
                    <span>Monday-Saturday (8.00pm - 6.00pm)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12795.335221001535!2d10.236008627416997!3d36.70253138395785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2stn!4v1707602454496!5m2!1sfr!2stn" width="600" height="450" style="border: solid gray 1px ;border-radius: 5px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>
<!-- end section(contact us) -->

<!-- strat footer -->
<footer>
    <div class="container" style="margin: 20px;overflow: hidden;">
        <div class="box"style="color: rgb(189, 189, 189);overflow: hidden;">
            <h3>About us</h3>
                <p style="color: gray;">At E-Shop, we are committed to providing the best service to our customers. Our team works tirelessly to ensure that your shopping experience is seamless and enjoyable. We believe in providing high-quality products at affordable prices. Thank you for choosing E-Shop.</p>
                
            <button class="btn btn-primary">Read More</button>
        </div>
        <div class="box" style="color: rgb(189, 189, 189);">
            <h3>Quik Links</h3>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About us</a>
                </li>
                <li>
                    <a href="#">Products</a>
                </li>
                <li>
                    <a href="#">Login</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Gallery</a>
                </li>
                <li>
                    <a href="#">Contact us</a>
                </li>

            </ul>
        </div>
     
        <div class="box" style="color: rgb(189, 189, 189);">
            <h3 >Follow Us</h3>
            <div>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/arbi.jridi.315">
                            <img src="assets/icons/facebook.svg" alt="facebook" width="30px" height="30px">
                            <span>Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/AR_JRIDI">
                            <img src="assets/icons/twitter.svg" alt="twitter" width="30px" height="30px">
                            <span>Twitter</span>
                        </a>
                    </li>
      
                    <li>
                        <a href="https://github.com/arbi-jridi">
                            <img src="assets/icons/github.svg" alt="Github" width="30px" height="30px">
                            <span>Github</span>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/arbi-jridi/">
                            <img src="assets/icons/linkedin.svg" alt="Linkedin" width="30px" height="30px">
                            <span>Linkedin</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box instagram-api" style="color: rgb(189, 189, 189);">
            <h3>SHOP NOW !</h3>
            <div class="post-wrap">
                <div>
                    <img src="assets/shop.gif" alt="">
                </div>
                <div>
                    <img src="assets/shop3.gif" alt="">
                </div>
                <div>
                    <img src="assets/shop6.gif" alt="">
                </div>
                <div>
                    <img src="assets/shop4.gif" alt="">
                </div>
                <div>
                    <img src="assets/shop2.gif" alt="">
                </div>
                <div>
                    <img src="assets/shop5.gif" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="copyright">
    <div>
        Copyright © <span> </span> .All rights reserved by <a href="https://github.com/arbi-jridi">Arbi Jridi</a>.
    </div>
</footer>


<!-- end footer -->


<!-- // start cart // -->
<div class="cart">
    <i class="fa-regular fa-circle-xmark"></i>
    <h2> Cart Items</h2>
    <div class="cart_product">
        ur cart is empty
    </div>
    <div class="last">
        <h5 >total</h5>
        <p>$0.00</p>
    </div>
</div>
<!-- // end cart // -->

